body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(85vh, 1fr);
    justify-content: center;
    text-align: center;
    background-color: #ffedd5;
}

.books-panel {
    background-color: #fdba74;
    margin: 0 2rem;
    border: 10px solid #7c2d12;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

.book {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    background-color: #fff7ed;
    border-radius: 1rem;
    margin: 1rem;
    height: 100px;
    padding: 1rem;
    box-shadow: 5px 5px 0px #7c2d12;

}

.book .title {
    justify-self: start;
    font-weight: bold;
}

.book .author {
    justify-self: end;
    font-style: italic;
}

.book .pages {
    font-style: italic;
    justify-self: start;
}

.book .buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.book button {
    background: none;
    border: 1px solid #7c2d12;
    border-radius: 1rem;
    width: 10ch;
}

.book button:hover {
    background-color: #ffedd5;
}

