body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(85vh, 1fr);
    justify-content: center;
    text-align: center;
    background-color: #ffedd5;
}

.books-panel {
    background-color: #fdba74;
    margin: 0 2rem;
    border: 10px solid #7c2d12;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}
