:root {
    --darkBrown: #7c2d12;
}


body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(85vh, 1fr);
    justify-content: center;
    text-align: center;
    background-color: #ffedd5;
    margin: 0;
    height: 100vh;
}

.books-panel {
    background-color: #fdba74;
    margin: 0 2rem;
    margin-bottom: 2rem;
    position: relative;
    border: 10px solid var(--darkBrown);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    grid-column: 1 / 2;
}

/* Book Styling */

.book {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    background-color: #fff7ed;
    border-radius: 1rem;
    margin: 1rem;
    height: min-content;
    padding: 1rem;
    box-shadow: 5px 5px 0px var(--darkBrown);
}

.book .title {
    justify-self: start;
    font-weight: bold;
}

.book .author {
    justify-self: end;
    font-style: italic;
}

.book .pages {
    font-style: italic;
    justify-self: start;
}

.book .buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.book button {
    background: none;
    border: 1px solid var(--darkBrown);
    border-radius: 1rem;
    width: 10ch;
}

.book button:hover, .books-panel svg:hover{
    background-color: #ffedd5;
}

/* Add New Book Button Styling */

.books-panel svg {
    width: 32px;
    height: auto;
    position: absolute;
    bottom: 30px;
    right: 40px;
    border: 2px solid var(--darkBrown);
    border-radius: 50%;
    padding: 10px;
}

/* New Book Form Styling */
.new-book-form {
    background-color: #fdba74;
    border-left: 10px solid var(--darkBrown);
    margin-right: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: none;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    font-weight: bold;
    padding: 0 2rem;
    gap: 4px;
}

fieldset, form button {
    grid-column: 1 / 3;
}

fieldset {
    border-color: var(--darkBrown);
}

form button {
    background-color: #ffedd5;
    border: 1px solid var(--darkBrown);
    border-radius: 1rem;
}

form button:hover {
    background-color: #fff7ed;
}